.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .card {
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .text {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .custom-button {
    width: 101px;
    height: 31.984px;
    background-color: #2F80ED;
    color: white;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-shrink: 0;
    /* Otros estilos personalizados según tus necesidades */
  }
  
  .drop-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
  }

  .drag-and-drop-icon {
    width: 50px;
    height: 50px;
  }

  .hidden-input {
    display: none;
  }
  